/* RESET IT */
/*
 * KNACSS Garni : add-on for knacss @author: Raphael Goetter, Alsacreations
 * Licence CC-BY http://creativecommons.org/licenses/by/3.0/fr/
 */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- tables
2- forms
3- print
4- medium screens (tablets)
5- tiny screens (smartphones)
*/


/* ----------------------------- */
/* ==tables */
/* ----------------------------- */
table,
.table {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	vertical-align: top;
}
table {
	width: 100%;
	caption-side: bottom;
}
caption {
	padding: 10px;
	color: #555;
	font-style: italic;
}
tbody { border: 1px solid #ccc; }
tbody tr:nth-child(odd) {
	background: #eee;
}
tbody tr > * + * {
	border-left: 1px solid rgba(0, 0, 0, .05);
}
tr > :last-child {
	text-align: right;
}
table th,
table td {
	padding: 10px 20px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
table td {
	color: #555;
}


/* ----------------------------- */
/* ==forms */
/* ----------------------------- */
/* thanks to HTML5boilerplate, github.com/nathansmith/formalize and www.sitepen.com */

form,
fieldset {
	border: none;
}
input,
button,
select,
label {
	vertical-align: middle; /* @bugfix alignment */
}

/* icons */

/* buttons */
.btn { display: inline-block; }
.btn.alternate {}
.btn.highlight {}
.login {}
.logout {}
.primary {}
.warning {}
.error {}
.success {}

/* forms items */
label { cursor: pointer; }
legend {
	border: 0;
	white-space: normal;
}
button,
input,
select {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle; /* Improves appearance in IE6/7 */
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar on empty textarea in IE6/7/8/9 */
	min-height: 5em;
	font-size: 1.75em;
	vertical-align: top;
	resize: vertical;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button; /* clickable input types in iOS */
	*overflow: visible; /* Corrects inner spacing displayed oddly in IE7 */
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Corrects excess space around these inputs in IE8/9 */
	*width: 13px; *height: 13px; /* Corrects excess space around these inputs in IE7 */
}
input[type="search"] { -webkit-appearance: textfield; }

/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */

/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
::-webkit-input-placeholder { color: #777; }
input:-moz-placeholder,
textarea:-moz-placeholder   { color: #777; }

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* styling begins here */
/* change all this the way you like */
form {
	width: 600px;
	margin-top: 2em;
	margin-left: 2em;
	padding: 1em;
	border: 1px solid #ccc;
	background: #eee;
}
form li { list-style: none; }
form .form-help {
	color: #555;
	font-style: italic;
	text-indent: 200px;
}
form label {
	display: inline-block;
	min-width: 200px;
	font-weight: 700;
}
form li label { font-weight: 400; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
button,
input[type="button"],
input[type="reset"] {
	min-width: 300px;
	padding: .2em 0 .2em .2em;
	border: 1px solid #ccc;
}
input[type="submit"] {
	padding: .5em 1em;
	border: 1px solid #ccc;
}



/* ----------------------------- */
/* ==print */
/* ----------------------------- */

/* quick print reset */
@media print {
	body {
		width: auto !important;
		margin: auto !important;
		font-family: serif;
		font-size: 12pt;
		background-color: #fff !important;
		color: #333 !important;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	blockquote,
	ul,
	ol {
		color: #000 !important;
		margin: auto !important;
	}
	.print {
		display: block; /* displaying .print elements */
	}
	p,
	blockquote {
		orphans: 3; /* no orphans */
		widows: 3; /* no widows */
	}
	blockquote,
	ul,
	ol {
		page-break-inside: avoid; /* no breaks inside these elements */
	}
	h1 {
		page-break-before: always; /* page break before main headers */
	}
	h1,
	h2,
	h3,
	caption {
		page-break-after: avoid; /* no breaks after these elements */
	}
	a {
		color: #000 !important;
		text-decoration: underline !important;
	}
	a[href]:after {
		content: " (" attr(href) ")"; /* displaying URLs */
	}
}



/* ----------------------------- */
/* ==responsive web design */
/* ----------------------------- */

/* quick tablet reset */
@media (max-width: 768px) {
	.tablet-hidden { display: none; }

	/* responsive widths for medium (m) screens, like tablets */
	.m25 { width: 25%; }
	.m33 { width: 33.3333%; }
	.m50 { width: 50%; }
	.m66 { width: 66.6666%; }
	.m75 { width: 75%; }
	.m100 {
		display: block !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		border: 0;
		float: none !important;
		width: auto !important;
	}
}

/* quick smartphone reset */
@media (max-width: 640px) {
	.phone-hidden { display: none; }

	/* responsive widths for tiny (t) screens, like smartphones */
	.t25 { width: 25%; }
	.t33 { width: 33.3333%; }
	.t50 { width: 50%; }
	.t66 { width: 66.6666%; }
	.t75 { width: 75%; }
	.t100 {
		display: block !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		border: 0;
		float: none !important;
		width: auto !important;
	}

	.row { width: 100% !important; }
	th,
	td {
		display: block !important;
		width: auto !important;
		text-align: left !important;
	}
	thead { display: none; }
}
/** **************END RESET************ */


.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}

a {
	color: #48a6fd;
	text-decoration: none;
}

pre, code, tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

body {
	margin: 0;
	background-color: #fff;
	font: 14px/20px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
	color: #2d333b;
}


body > header {
	width: 250px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	background-color: #2d333b;
	color: #f9f9f9;
}

body > header h1, article header h2 {
	font-size: 28px;
    line-height: 1.2em;
    font-weight: 400;
    margin: 6px 0 0;
    padding: 0 15px;
}

body > header h2, article header h3 {
    font-weight: 300;
    font-size: 14px;
    margin: -2px 0 5px;
    padding: 0 15px;
}

body > header h1 a {
	color: #f9f9f9;
	line-height: 1rem;
}

body > header nav {
    margin-top: 50px;
}

body > header nav a {
    position: relative;
    color: inherit;
	display: block;
	padding: 8px 15px 8px;
}

body > header nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body > header nav a.selected {
    background-color: rgba(0, 0, 0, 0.5);
}

body > header nav a.selected:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    margin-top: -10px;
}

#main {
	margin-left: 250px;
}

article {
	margin-bottom: 80px;
}

article header h2 a {
    color: inherit;
}
article header h2 a:hover {
    color: #48a6fd;
}

article header h3 {
    color: #999999;
}

article .content {
    margin: 60px 0 15px;
    padding: 0 15px;
}

article .content ul {
	padding-left: 25px;
}

.content blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
    margin: 15px 0;
}

.content code {
    margin: 0 0px;
    padding: 0px 0px;
    /*white-space: nowrap;*/
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
}

.highlight code {
    background-color: inherit;
    border: 0px;
    /*white-space: normal;*/
}

article .content h3, h4, h5, h6 {
    font-weight: 100;
}

article .content h3 {
    color:  #48a6fd;
}
article .content h4, h5, h6 {
    color:  #0061bc;
}

article footer {
	padding: 0 15px;
	font-size: 13px;
	color: #999;
}

article footer .categories {
	padding: 5px;
	background-color: #eee;
	border-radius: 2px;
}

article footer .categories span, article footer .category {
	text-transform: capitalize;
	display: inline-block;
	margin-right: 15px;
}

body > footer {
	position: fixed;
	bottom: 20px;
	left: 0px;
	width: 250px;
	font-size: 11px;
	color: #f9f9f9;
	text-align: center;
	line-height: 19px;
}

body > footer img {
    width: 158px;
    height: 158px;
    margin: 20px auto 0;
}

body > footer > span {
	display: block;
}

body > footer a {
	margin-left: 5px;
}

/* HOME PAGE */

.home article .content {

}


/* CATEGORY PAGE */
.cat article {
    margin-bottom: 60px;
}
.category ul {
    padding: 0 15px;
}

.category li {
	list-style-type: none;
	margin: 10px 0;
}

.category li.year {
	font-size: 28px;
	color: #48a6fd;
	margin: 20px 0;
}

.category li.year:first-child {
	margin-top: 0;
}

.category li.month {
	font-size: 18px;
	color: #333;
}

.dsq-brlink {
    padding: 0 15px;
}
#disqus_thread {
    margin-top: 30px;
    padding: 0 15px;
}




