<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>{% if page.title %}{{ page.title }} . {% endif %}Roulotte Blog</title>
        <meta name="author" content="Benoit Charbonnier" />
        <meta name="description" content="The fantastic blog of Roulotte.im Collaborative Chat application." />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/roulotte.css">
        <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header class="main">
                <hgroup>
                    <h1><a href="/">Roulotte<span>im</span></a></h1>
                    <h2>dev blog</h2>
                </hgroup>
                <nav>
                    {% for catinfo in site.categories %}
                    {% capture category %}{{catinfo|first}}{% endcapture %}
                    <a href="/category.html#{{category}}">{{category |capitalize}}</a>
                    {% endfor %}
                </nav>
            </header>
            <section id="main">
                {{ content }}
            </section>
            <footer class="main">
                <span>©{{site.time|date:'%Y'}} Roulotte.im</span>
                <span>Benoit Charbonnier <a href="//roulotte.im">roulotte.im</a></span>
            </footer>
        </div>
    </body>
</html>
